anchovies, onion Pepp Saus and GP * {
  box-sizing: border-box;
  font-family: 'PT sans', 'Arial', sans-serif;
  color: #ddd; }
  anchovies a, onion Pepp Saus and GP * a {
    text-decoration: none; }
  anchovies h3, onion Pepp Saus and GP * h3 {
    padding: 5px;
    margin: 5px; }

html {
  min-height: 100%; }

body {
  background: url("/app/images/bg06.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black; }
  body nav {
    margin: 0 auto;
    background-color: rgba(100, 100, 100, 0.3);
    position: relative;
    background-color: #101010;
    padding: 10px 0;
    font-weight: 500; }
    body nav > a {
      padding: 3px 10px;
      font-size: 1.5em;
      background-color: #000;
      border-radius: 5px;
      border: 1px solid #333; }
      body nav > a:hover {
        background-color: #777; }
    body nav > * {
      display: inline-block;
      margin-left: 13px;
      font-size: 1.5em;
      border-radius: 5px;
      font-weight: 500; }
    body nav #sign-out {
      position: absolute;
      right: 5px;
      text-align: center;
      font-size: 1em;
      top: -34px; }
    body nav a:nth-child(2) {
      text-align: center; }
    body nav button {
      border: 1px solid #333;
      width: 100%;
      min-height: 39px;
      border-radius: 5px;
      background-color: #000; }
      body nav button:hover {
        background-color: #888; }

header {
  position: relative; }
  header h1 {
    margin: 10px;
    display: inline-block;
    width: 30%; }
  header h3 {
    display: inline-block;
    width: 35%;
    text-align: center; }
  header > div {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 10px;
    width: 65%;
    position: relative; }
  header span.font-awesome {
    float: right;
    margin: 10px; }
    header span.font-awesome i {
      padding: 0 3px; }

div.page {
  min-height: 625px; }

footer {
  margin: 0;
  width: 65%;
  text-align: center;
  bottom: 0;
  left: 15%; }
  footer div {
    color: #fff; }

.primary-content {
  margin: 0 auto;
  background-color: rgba(100, 100, 100, 0.3);
  position: relative;
  min-height: 490px;
  width: 65%;
  margin: 0 auto;
  display: relative; }
  .primary-content > a {
    padding: 3px 10px;
    font-size: 1.5em;
    background-color: #000;
    border-radius: 5px;
    border: 1px solid #333; }
    .primary-content > a:hover {
      background-color: #777; }

main.login-main {
  margin: auto;
  width: 65%;
  text-align: center;
  height: 350px; }
  main.login-main .reptile-form {
    margin: 0 auto;
    background-color: rgba(100, 100, 100, 0.3);
    position: relative;
    margin: auto;
    padding: 25px;
    width: 45%;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.3); }
    main.login-main .reptile-form > a {
      padding: 3px 10px;
      font-size: 1.5em;
      background-color: #000;
      border-radius: 5px;
      border: 1px solid #333; }
      main.login-main .reptile-form > a:hover {
        background-color: #777; }
    main.login-main .reptile-form label {
      float: none; }
    main.login-main .reptile-form div.field-input {
      margin: 0 auto;
      color: #222; }
      main.login-main .reptile-form div.field-input input {
        background-color: #ccc;
        padding: 2px 5px; }
    main.login-main .reptile-form button {
      display: inline-block;
      margin: 10px;
      color: #222;
      border-radius: 3px; }

div.this-user {
  background: rgba 0, 0, 0, 0.9;
  margin: 0 auto;
  overflow: hidden; }
  div.this-user div.image {
    float: left;
    margin: 15px; }
    div.this-user div.image img {
      height: 100px;
      width: 100px; }
  div.this-user h3 {
    margin-top: 10px;
    display: inline-block;
    min-width: 400px;
    font-size: 1.5em; }

div.toppings {
  min-height: 150px;
  overflow: hidden; }
  div.toppings * + * {
    margin-bottom: 7px; }
  div.toppings h3 {
    padding-left: 5px; }
  div.toppings .topping {
    padding: 2px 15px;
    width: 32%;
    vertical-align: top;
    min-height: 35px;
    display: inline-block; }
    div.toppings .topping a {
      display: block;
      padding: 1px 10px;
      border-radius: 5px;
      background-color: rgba(7, 73, 0, 0.85);
      margin-left: 10px; }
      div.toppings .topping a::before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f164";
        text-decoration: none; }
      div.toppings .topping a.selected {
        background-color: rgba(73, 7, 0, 0.85); }
        div.toppings .topping a.selected::before {
          content: "\f165"; }
      div.toppings .topping a i.fa {
        color: rgba(73, 7, 0, 0.85); }
    div.toppings .topping:last-child {
      margin-bottom: 10px; }

.update-form > .reptile-form {
  padding: 50px; }
.update-form input {
  color: #333; }
.update-form button {
  border: 1px solid #333;
  width: 20%;
  min-height: 39px;
  color: #ddd;
  border-radius: 5px;
  background-color: #000;
  font-weight: 500;
  margin-left: 187px; }
  .update-form button:hover {
    background-color: #888; }

div.friends {
  min-height: 214px;
  overflow: hidden;
  display: relative; }
  div.friends * + * {
    margin-bottom: 8px; }
  div.friends h3 {
    margin-left: 5px;
    padding: 5px;
    display: inline-block;
    width: 75%; }
  div.friends .friend {
    padding: 2px 15px;
    width: 32%;
    vertical-align: top;
    display: inline-block; }
    div.friends .friend a {
      display: block;
      padding: 1px 10px;
      border-radius: 5px;
      background-color: rgba(7, 73, 0, 0.85);
      margin-left: 10px; }
      div.friends .friend a::before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f164";
        text-decoration: none; }
      div.friends .friend a.selected {
        background-color: rgba(73, 7, 0, 0.85); }
        div.friends .friend a.selected::before {
          content: "\f165"; }
      div.friends .friend a i.fa {
        color: rgba(73, 7, 0, 0.85); }
    div.friends .friend a {
      background-color: #000; }
      div.friends .friend a::before {
        content: "\f096"; }
      div.friends .friend a.selected {
        background-color: #151515; }
        div.friends .friend a.selected::before {
          content: "\f046"; }
      div.friends .friend a i.fa {
        color: rgba(255, 255, 255, 0.5); }

div.suggestions {
  min-height: 150px;
  overflow: hidden; }
  div.suggestions > * + * {
    margin-bottom: 15px; }
  div.suggestions .suggestion {
    min-height: 55px;
    background-color: rgba(7, 73, 0, 0.85);
    margin: 14px;
    border-radius: 5px;
    position: relative; }
    div.suggestions .suggestion.other-option {
      display: none; }
    div.suggestions .suggestion div h3 {
      margin-left: 5px;
      font-weight: 500; }
    div.suggestions .suggestion .feedback {
      background-color: rgba(0, 0, 0, 0.3);
      padding: 2px 5px;
      border-radius: 5px;
      position: absolute;
      bottom: 0;
      right: 0; }
      div.suggestions .suggestion .feedback > a {
        padding: 0 3px; }
        div.suggestions .suggestion .feedback > a:hover {
          background-color: #888; }

div.selected-suggestions {
  min-height: 75px;
  margin-top: 25px;
  display: inline-block;
  width: 32%;
  float: right;
  margin: 15px; }
  div.selected-suggestions > div {
    border: 1px solid #555;
    background-color: #000;
    display: block;
    border-radius: 5px;
    padding: 2px 5px; }
  div.selected-suggestions * + * {
    margin-top: 5px; }

div#map-canvas {
  width: 60%;
  min-height: 400px;
  margin: 15px;
  border-radius: 5px; }
  div#map-canvas div {
    color: black; }
  div#map-canvas div > div {
    width: 225px; }
  div#map-canvas a {
    color: blue; }
