// Reset for the document, in addition to normalize.css
* {
	box-sizing: border-box;
	font-family: 'PT sans', 'Arial', sans-serif;
	color: #ddd;
	a {
		text-decoration: none;
	}
	h3 {
		padding: 5px;
		margin: 5px;
	}
}

$middle-width : 65%;
$rounded-corners: 5px;


html {
    height: 100%
}


// Formats options (users and toppings) throughout the app
@mixin option {
	padding: 2px 15px;
	width: 32%;
	a {
	display: block;
	padding: 1px 10px;
	border-radius: $rounded-corners;
	background-color: rgba(7, 73, 0, 0.85);
	margin-left: 15px;
	&::before {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		content: "\f164";
		text-decoration: none;
	}
 	&.selected {
		background-color: rgba(73, 7, 0, 0.85);
		&::before {
		content: "\f165";
		}
	}
		i.fa {
		color: rgba(73, 7, 0, 0.85);
		}
	}
}


//gives same look to sections that want a stained glass
//also formats the links contained by them consistently
@mixin stainedglass {
	margin: 0 auto;
	background-color: rgba(100, 100, 100, .30);
	position: relative;
	& > a {
		padding: 3px 10px;
		font-size: 1.5em;
		background-color: #000;
		border-radius: $rounded-corners;
		border: 1px solid #333;
		&:hover {
			background-color: #777;
		}
	}
}


body {
	background: 
		radial-gradient(
			circle, 
	      rgba(0, 0, 0, .1),
	      rgba(0, 0, 0, .5) 
	    ), url("/app/images/bg06.jpg");
		background-size: cover;
	nav {
		@include stainedglass;
		background-color: rgba(16, 16, 16, 1);
		padding: 10px 0;
		font-weight: 500;
		> * {
			width: 31%;
			display: inline-block;
			margin-left: 13px;
			font-size: 1.5em;
			border-radius: $rounded-corners;
			font-weight: 500;
		}
		#sign-out {
			position: absolute;
			right: 5px;
			text-align: center;
			font-size: 1em;
			width: 11%;
			top: -34px;
		}
		a:nth-child(2){
			text-align: center;
		}
		button {
			border: 1px solid #333;
			width: 100%;
			height: 39px;
			border-radius: $rounded-corners;
			background-color: #000;
			&:hover {
				background-color: #888;
			}
		}
		#settings {
			text-align: right;
		}
	}
}


header {
	position: relative;
	h1 {
		margin: 10px;
		display: inline-block;
		width: 30%;
	}
	h3 {
		display: inline-block;
		width: 50%;
		text-align: center;
	}
	> div {
		background-color: rgba(0, 0, 0, .5);
		margin: 0 auto;
		padding: 10px;
		width: $middle-width;
		position: relative;
	}
	span.font-awesome {
		float: right;
		margin: 10px;
		i {
			padding: 0 3px;
		}
	}
}


footer {
	margin: 0;
	width: 60%;
	text-align: center;
	position:fixed;
	bottom: 0;
	left: 20%;
	div {
		color: #fff;
	}
}

.update-form {
	input {
		color: #333;
	} 
	button {
		border: 1px solid #333;
		width: 20%;
		height: 39px;
		color: #ddd;
		border-radius: $rounded-corners;
		background-color: #000;
		font-weight: 500;
		margin-left: 187px;
		&:hover {
			background-color: #888;
		}
	}
}


.primary-content {
	@include stainedglass;
	height: 87.5vh;
	width: $middle-width;
	margin: 0 auto;
	display: relative;
}


main.login-main {
	margin: auto;
	width: $middle-width;
	text-align: center;
	height: 350px;
	.reptile-form {
		@include stainedglass;
		margin:auto;
		padding: 25px;
		width: 33%;
		margin-top: 10%;
		label {
			float: none;
		}
		div.field-input {
			margin: 0 auto;
			color: #222;
			input {
				background-color: #ccc;
				padding: 2px 5px;
			}
		}
		button {
			display: inline-block;
			margin: 10px;
			color: #222;
			border-radius: 3px;
		}
	}
}


//google maps canvas
div#map-canvas {
        width: 500px;
        height: 375px;
        margin: 5px auto;
        div {
        	color: black;
        }
        div > div {
        	width: 225px;
        }
        a {
        	color: blue;
        }
}


div.this-user {
	background: rgba (0, 0, 0, .9);
	margin: 0 auto;
	overflow: hidden;
	div.image {
		float: left;
		margin: 15px;
		img {
			height: 100px;
			width: 100px;
		}
	}
	h3 {
		margin-top: 10px;
		display: inline-block;
		min-width: 400px;
		font-size: 1.5em;
	}
}


div.toppings {
	min-height: 150px;
	overflow: hidden;
	* + * {
		margin-bottom: 7px;
	}
	h3 {
		padding-left: 5px;
	}
	.topping {
		@include option;
		height:  35px;
		display: inline-block;
	}
	/* a#suggestions {
		position: absolute;
		right: 0;
		top: 0;
		border-radius: $rounded-corners;
	} */
}


div.friends {
	min-height: 150px;
	overflow: hidden;
	display: relative;
	* + * {
		margin-bottom: 8px;
	}
	h3 {
		margin-left: 5px;
		padding: 5px;
		display: inline-block;
		width: 75%;
		/* &#user {
			display: inline-block;
			min-width: 200px;
		} */
	}
	/* img {
		height: 50px;
		width: 50px;
		background-color: #777;
		margin: 10px;
		float: left;
	} */
	.friend {
		@include option;
		display: inline-block;
		/* img {
			height: 25px;
			width: 25px;
		} */
		a {
			// border: 1px solid #555;
			background-color: #000;
			&::before {
				content: "\f096";
			}
		 	&.selected {
				background-color: #151515;
				&::before {
				content: "\f046";
				}
			}
				i.fa {
				color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}


div.suggestions {
	min-height: 150px;
	overflow: hidden;
	> * + * {
		margin-bottom: 15px;
	}
	.suggestion {
		&.other-option{
			display: none;
		}
		min-height: 55px;
		background-color: rgba(7, 73, 0, .85);
		margin: 14px;
		border-radius: $rounded-corners;
		position: relative;
		div {
			h3 {
				margin-left: 5px;
				font-weight: 500;
			}
		}
		.feedback {
			background-color: rgba(0, 0, 0, .30);
			padding: 2px 5px;
			border-radius: $rounded-corners;
			position: absolute;
			bottom: 0;
			right: 0;
			> a {
				padding: 0 3px;
				&:hover {
				background-color: #888;
				}
			}
		}
	}
}


div.selected-suggestions {
	min-height: 75px;
	margin: 5px;
	> div {
		border: 1px solid #555;
		background-color: #000;
		display: inline-block;
		margin: 3px;
		border-radius: $rounded-corners;
		padding: 1px 5px;
		font-size: 0.9em;
	}
}