// Formats options (users and toppings) throughout the app
@mixin option {
	padding: 5px 15px;
	width: 32%;
	a {
	display: block;
	padding: 1px 10px;
	border-radius: 5px;
	background-color: green;
	color: white;
	margin-left: 15px;
	&::before {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		content: "\f164";
		color: rgba(255, 255, 255, 0.5);
		text-decoration: none;
	}
 	&.selected {
		background-color: red;
		&::before {
		content: "\f165";
		}
	}
		i.fa {
		color: rgba(255, 255, 255, 0.5);
		}
	}
}

//gives same look to sections that want a dark stained glass
//also formats the links contained by them consistently
@mixin stainedglass {
	border-radius: 5px;
	margin: 8px auto;
	background-color: rgba(5, 5, 5, .9);
	position: relative;
	& > a {
		padding: 3px 10px;
		font-size: 1.5em;
		background-color: #000;
		color: white;
		border-radius: 5px;
		border: 1px solid #333;
		&:hover {
			background-color: #C66320;
		}
	}
}

// Reset for the document, in addition to normalize
* {
	box-sizing: border-box;
	font-family: 'PT sans', 'Arial', sans-serif;
	color: #C66320;
	a {
		text-decoration: none;
		color: white;
	}
	h3 {
		font-size: 1.25em;
		padding: 5px;
		margin: 5px;
	}
}


header {
	margin-bottom:10px;
	position: relative;
	h1 {
		// padding: 5px;
		margin-left: 10px;
		display: inline-block;
		width: 25%;
	}
	h3 {
		display: inline-block;
		width: 50%;
		margin: 10px;
	}
	> div {
		@include stainedglass;
		margin: 0 auto;
		width: 60%;
		position: relative;
	}
	span.font-awesome {
		float: right;
		margin: 10px;
		i {
			padding: 0 3px;
		}
	}
}

body {
	background: url("/app/images/bg01.jpg");
	background-size: cover;
	nav {
		@include stainedglass;
		margin: 10px auto;
		width: 60%;
		position: relative;
		display: block;
		a {
			width: 33%;
			display: inline-block;
			margin: 0px auto;
		}
		#build-suggestion {
			width: 35%
		}
		#sign-out {
			position: absolute;
			right: 0;
			text-align: right;
		}
	}

}

footer {
	@include stainedglass;
	margin: 0 auto;
	width: 60%;
	text-align: center;
	div {
		color: #FFF;
	}
}

main.login-main {
	@include stainedglass;
	margin: 0 auto;
	width: 60%;
	text-align: center;
	min-height: 450px;
	div.logo{
		h3:first-child { 
			margin-top: 15%;
		}	
		min-width: 150px;
		min-height: 150px;
		background-color: #111;
		float: left;
		vertical-align: middle;
	}
	.reptile-form {
		background-color: #222;
		margin-left:auto;
		padding: 25px;
		width: 33%;
		label {
			margin: 0 auto;
			float: none;
		}
		div.field-input {
			margin: 0 auto;
		}
	}
}

div.this-user {
	@include stainedglass;
	margin: 10px auto;
	width: 60%;
	overflow: hidden;
	div.image {
		float: left;
		margin: 15px;
		img {
			height: 100px;
			width: 100px;
		}
	}
	h3 {
		padding: 10px;
		margin-left: 300px;
		background-color: #333;
		text-align: center;
		margin: 15px;
		display: inline-block;
		width: 200px;
	}
	// a {
	// 	position: absolute;
	// 	right: 0;
	// 	bottom: 0;
	// }
}


div.toppings {
	@include stainedglass;
	width: 60%;
	min-height: 150px;
	overflow: hidden;
	// padding-bottom: 10px;
	* + * {
		margin-bottom: 10px;
	}
	h3 {
		padding-left: 5px;
	}
	.topping {
		@include option;
		height:  35px;
		display: inline-block;
	}
	a#suggestions {
		position: absolute;
		right: 0;
		top: 0;
	}
	
}

div.friends {
	@include stainedglass;
	width: 60%;
	min-height: 150px;
	overflow: hidden;
	display: relative;
	* + * {
		margin-bottom: 10px;
	}
	h3 {
		margin-left: 5px;
		padding: 5px;
		display: inline-block;
		width: 75%;
		&#user {
			display: inline-block;
			min-width: 200px;
		}
	}
	button {
		@include stainedglass;
		position: absolute;
		right: 0;
		top: 0;
		margin: 0;
		font-size: 1.5em;
		border: 1px solid #555;
		width: 33%;
		color: white;
		text-align: right;
		&:hover {
			background-color: #C66320;
		}
	}
	img {
		height: 50px;
		width: 50px;
		background-color: #777;
		margin: 10px;
		float: left;
	}
	.friend {
		@include option;
		// height:  35px;
		display: inline-block;
		// &:last-child {
		// 	margin-bottom: 20px;
		// }
		img {
			height: 25px;
			width: 25px;
		}
		a {
			border: 1px solid #555;
			background-color: #000;
			&::before {
				content: "\f096";
				
			}
		 	&.selected {
				background-color: #151515;
				&::before {
				content: "\f046";
				}
			}
				i.fa {
				color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}


div.suggestions {
	@include stainedglass;
	width: 60%;
	min-height: 150px;
	overflow: hidden;
	> * + * {
		margin-bottom: 15px;
	}
	
	.suggestion {
		width: 80%;
		min-height: 65px;
		background-color: #383224;
		margin: 20px auto;
		border-radius: 5px;
		div {
			// min-height: 45px;
			h3 {
				margin-left: 5px;
			}
			p {
				margin-left: 135px;
				background-color:green;
			}
		}
		a {
			background-color: #000;
			padding: 3px 5px;
			border-radius: 5px;
			float: right;
			&:hover {
				background-color: #C66320;
			}
		}
	}
}